div {
  width: 200px;
  height: 200px;
  border: 3px solid #c42828;
}
.box1 p {
  line-height: 200px;
  text-align: center;
}
#box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#box2 a,
#box2 span {
  flex: 1;
}
#box2 a:nth-child(1) {
  text-decoration: none;
}
#box2 span:nth-of-type(1) {
  text-decoration: overline;
}
#box2 a:nth-last-child(1) {
  text-decoration: line-through;
}
div[class^="back"] {
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
}
div[class^="back"] .box3 {
  flex: 1;
  width: 160px;
  height: 160px;
  padding: 25px;
  border: 10px dashed #dcb0dd;
}
div[class^="back"] .box4 {
  flex: 1;
  width: 160px;
  height: 160px;
  padding: 25px;
  border: 10px dashed #dcb0dd;
}
div[class^="back"] .box5 {
  flex: 1;
  width: 160px;
  height: 160px;
  padding: 25px;
  border: 10px dashed #dcb0dd;
}
.back-clip .box3 {
  background-color: #76bdac;
  background-clip: content-box;
}
.back-clip .box4 {
  background-color: #76bdac;
  background-clip: border-box;
}
.back-clip .box5 {
  background-color: #76bdac;
  background-clip: padding-box;
}
.back-position .box3 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.back-position .box4 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 20% 50%;
}
.back-position .box5 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 300px 150px;
}
.back-size .box3 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
}
.back-size .box4 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.back-size .box5 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.back-repeat .box3 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: 100px;
  background-repeat: no-repeat;
}
.back-repeat .box4 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: 100px;
  background-repeat: repeat-x;
}
.back-repeat .box5 {
  background-image: url(R7f786f37ca0f2307e0b952cb61c3ad48.jpg);
  background-size: 100px;
  background-repeat: repeat;
}
.font {
  width: 100%;
  position: relative;
}
.font .style {
  float: left;
}
.font .normal {
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font .italic {
  font-style: italic;
  font-size: 30px;
}
.font .oblique {
  font-style: oblique;
}
